vars:
  location: westus
  tenant: my
  environment: az-uw2  
  stage: test

import:
  - catalog/ts-azure-infra
  - catalog/ts-k8s-docker-azure

components:
  terraform:
    ts-azure-infra:
      vars:
        cluster_name: "my-aks-2"
        hostname: "my-az-sr-2"
        vnet_cidr: "10.3.0.0/16"
        aks_service_ipv4_cidr: "10.43.0.0/16"
        cluster_outbound_type: "loadBalancer" 
    ts-k8s-docker-azure:
      settings:
        depends_on:
          1:
            component: "ts-azure-infra"